@import '_variables';

.net-keypad-number-text {
  font-family: $book-font;
  font-size: 38px;
  letter-spacing: 10px;
  color: $primary-font-color;
  text-align: center;
  border-style: none;
  outline: none;
  max-height: 10vh;
  max-width: 1200px;
  max: 999999999999;
  length: 15;
  margin: 8px;
  width: 40vw;
}

.net-keypad-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.keypad {
  width: 40%;
}

.ip-input {
  border: 7px solid black;
  border-radius: 38px;
  outline: none;
}

.ip-input-container {
  width: 100%;
}

.ip-button {
  width: 286px;
  height: 57px;
  font-family: $book-font;
  font-size: 31px;
  border-style: none;
  border-radius: 5px;
  margin: 5px;
}

.input-close {
  margin: 10px;
  color: $btn-primary-background;
  font-size: 35px;
  outline: none;
}

.input-close:focus {
  color: $primary-color;
  outline: none;
}

.keypad-title {
  font-family: $book-font;
  font-size: 32px;
  color: $date-color;
}

.spacing {
  padding-right: 12px;
}
