@import '_variables';

* {
  height: 100%;
  font-family: $book-font;
  color: $date-color;
  font-size: 2.7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emphasis {
  font-family: $medium-font;
}

.clock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  color: $date-color;
}

#day-date,
.dayDate,
span.dayDate#day-date {
  font-family: $medium-font;
  width: 244px;
}
