<!--<div class="contentContainer">-->
<!--  <div class="main-container">-->
<!--    <div class="back-button" bbtNavigableRow>-->
<!--      <a routerLink="../manage" bbtFocusingNavigable>-->
<!--        <i class="fas fa-arrow-left"></i>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="bbt-title">-->
<!--      <h1>-->
<!--        {{"MANAGECONTENT" | jqueryi18n}}-->
<!--      </h1>-->
<!--    </div>-->
<!--    <div></div>-->
<!--  </div>-->

<!--  <div class="content-summary">-->
<!--    <label>{{"LOADINGCONTENT" | jqueryi18n}}</label>-->
<!--  </div>-->
<!--  <div class="upload-container">-->

<!--  </div>-->
<!--  <div class="main-container">-->
<!--    <div class="btn-container-right" bbtNavigableRow>-->
<!--      <input type="file"-->
<!--             tabIndex="0"-->
<!--             bbtFocusingNavigable-->
<!--             tabindex="0"-->
<!--             focus="true"-->
<!--             class="custom-file-input"-->
<!--             accept="video/mp4,video/quicktime,video/m4v,audio/mp3"-->

<!--             (change)="uploadContent($event.target.files[0])">-->
<!--    </div>-->
<!--  </div>-->
<!--  <div *ngIf="message" class="info-message-container">-->
<!--    <div class="info-message">-->
<!--      <div>-->
<!--        <i class="fa fas fa-bell"></i> {{message}}-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
