@import '_client-variables';

$book-font: 'Gotham Book', Helvetica, sans-serif;
$normal-font: 'Gotham', Helvetica, sans-serif;
$medium-font: 'Gotham Medium', Helvetica, sans-serif;
$bold-font: 'Gotham Bold', Helvetica, serif;

$header-height: 6.4vh;

$jp-primary: #d91920;

$body-hr: #d8d8d8;
$btn-primary-font: #f9f9f9;
$btn-primary-background: #838383;
$btn-secondary-font: #4c4c4c;
$btn-secondary-background: #d8d8d8;
$btn-active: #0e0e0e;
$menu-background: #f0f0f0;
$menu-text-color: #232323;

$header-background: #f9f9f9;
$date-color: #646464;

$primary-font-color: #4c4c4c;
$secondary-font-color: #ffffff;

$info-background: #2c2c2c;
$info-border: #ffffff;
$info-font-color: #f9f9f9;

$presentation-background: #dcdcdc;
$presentation-border: #979797;
$presentation-playing: #000000;

$input-container: #4c4c4c;

$disabled-background: #838383;

$confirm-font: #d85d67;

$box-shadow: -2px 0 4px rgba(0, 0, 0, 0.5);
$box-shadow-2: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
$box-shadow-3: 1px 2px 4px rgba(0, 0, 0, 0.5);
