<ng-container *ngIf="file$ | async as f; else loading">
  <div class="presentation-container" [ngSwitch]="f?.type">
    <video
      class="presentation-item"
      *ngSwitchCase="'Video'"
      [poster]="f?.customIcon"
      [bbtCaptionLanguage]="captionLanguage$ | async"
      [bbtHlsVideo]="f.filePath"
      [audioTrackId]="audioTrackId$ | async"
      #player
      (canplaythrough)="safePlay()"
      (manifestParsed)="manifestParsed($event.audioTracks)"
      (ended)="playNext()"
    ></video>
    <video
    class="presentation-item"
    *ngSwitchCase="'Stream'"
    [poster]="f?.customIcon"
    [bbtCaptionLanguage]="captionLanguage$ | async"
    [bbtHlsVideo]="f.filePath"
    [audioTrackId]="audioTrackId$ | async"
    #player
    (canplaythrough)="safePlay()"
    (manifestParsed)="manifestParsed($event.audioTracks)"
    (ended)="playNext()"
  ></video>
    <img
      class="presentation-item"
      [src]="f.filePath"
      *ngSwitchCase="'Image'"
      default="/assets/images/missing_thumb.png"
      alt="thumbnail"
    />
      <img
      class="presentation-item"
      [src]="f.filePath"
      *ngSwitchCase="'Html'"
      default="/assets/images/missing_thumb.png"
      alt="thumbnail"
    />

    <div *ngSwitchDefault class="presentation-type-error">
      Couldn't load presentation type {{ f?.type }}
    </div>
  </div>
</ng-container>
<ng-template #loading>
  Loading...
</ng-template>