<div class="confirm-modal-container">
  <div class="modal-header-messages">
    <h1 class="warning" mat-dialog-title data-i18n="DELETESURE">
      {{ 'DELETESURE' | jqueryi18n }}
    </h1>
    <h2 class="warning" mat-dialog-title data-i18n="DELETESURE2">
      {{ 'DELETESURE2' | jqueryi18n }}
    </h2>
  </div>

  <mat-dialog-content>
    <div class="content-card-container">
      <bbt-content-card [content]="$any(data.content)"></bbt-content-card>
    </div>

    <div class="confirm-modal-button-container">
      <button
        class="button btn-primary"
        [mat-dialog-close]="data.content"
        data-i18n="YES"
      >
        {{ 'YES' | jqueryi18n }}
      </button>
      <button
        cdkFocusRegionStart
        class="button btn-secondary"
        data-i18n="CANCEL"
        mat-dialog-close
      >
        {{ 'CANCEL' | jqueryi18n }}
      </button>
    </div>
  </mat-dialog-content>
</div>
